@page "/button-test"

<h3>@title</h3>

<div class="form-group">

    <div class="container">
        <div class="btn-toolbar">
            <CustomEditButtonComponent OnClick="changeTitle" />

            <CustomEditButtonComponent Caption="Edit Caption" Color="danger" Icon="far fa-edit" IsSmall="false" />

            <AddNewButtonComponent />
        </div>
    </div>

</div>
@code {
    [CascadingParameter]
    IModalService? Modal { get; set; }

    private String? title = "";

    private void changeTitle()
    {
        ModalParameters mParams = new();
        mParams.Add("Message", "Bu bir test popup denemesidir.");

        Modal?.Show<ShowMessageModalComponent>("Counter Popup Page", mParams);
    }
}
