@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5"
                ShowProgressBar="true"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fas fa-check"
                ErrorIcon="fas fa-exclamation-triangle"
                MaxToastCount="3" />

<HeadContent>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Fredoka" />
     <link rel="stylesheet"
           href="_content/Blazored.Toast/blazored-toast.min.css" />
</HeadContent>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
